  <button type="button" class="close pull-right" ng-click="toggleDialog()">
    <i class="fa fa-times"></i>
  </button>

  <div id="lookup-filter" class="half-bottom">
    <label class="control-label">Filter by Lookup</label>

    <div class="content-box tags-input">
      <div class="label label-tag" ng-repeat="tag in selectedTags" ng-click="deselectTag(tag)">
        <span>{{tag.name}}:</span><span class="tag-value">{{tag.value}}</span> 
        <span><i class="fa fa-minus-circle" style="cursor: pointer;" ></i></span>
      </div>
    </div>

    <div class="content-box tag-selector">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control input-sm" placeholder="Search Lookup Tags" ng-model="tagFilter">
      </div>

      <div class="scrollable-content">
        <div class="label label-tag" ng-repeat="tag in tags | filter:tagFilter" ng-click="selectTag(tag)">
          <span>{{tag.name}}:</span><span class="tag-value">{{tag.value}}
          <span><i class="fa fa-plus-circle" style="cursor: pointer;" ></i></span>
        </div>
      </div><!-- scrollable-content -->
    </div>
  </div><!-- lookup-filter -->

  <div id="timeline-filter">
    <label class="control-label">Filter by Timeline</label>

    <div class="form-group">
      <div class="row row-no-padding">
        <div class="col-xs-6">
          <label class="control-label">Start Date</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="DD-MMM-YYYY">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>  
        </div>
        <div class="col-xs-6">
          <label class="control-label">End Date</label>
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="DD-MMM-YYYY">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div> 
        </div>
      </div><!-- row -->
    </div>
  </div><!-- timeline-filter -->

  <div class="button-wrapper text-right">
    <button class="btn btn-sm btn-primary">Apply <i class="fa fa-check"></i></button>
    <button class="btn btn-sm btn-default btn-close" ng-click="toggleDialog()">Cancel <i class="fa fa-times"></i></button>
  </div>
