<div>
  <div ng-controller="ButtonsController">
    <div class="app-header">
      <div class="title-block">
        <h1 translate="storage-client.header"></h1>
        <div ng-controller="SubscriptionStatusController" class="store-status">
        <div id="subscription-status" subscription-status
             product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
             ng-model="subscriptionStatus.result"></div>
        </div>
      </div>  
      <div class="global-actions">
        
        <button class="btn btn-lg btn-primary" type="button" title="{{'storage-client.upload-file' | translate}}" ng-hide="statusDetails.code!==200 || fileListStatus.code===404" ng-click="uploadButtonClick()" ng-disabled="!(filesDetails.localFiles === false && !isTrashFolder())">
          <i class="fa fa-cloud-upload fa-lg"></i> <span translate="storage-client.upload-file"></span>
        </button>
        <button class="btn btn-lg btn-default" type="button" title="{{'storage-client.new-folder' | translate}}" ng-hide="statusDetails.code!==200 || fileListStatus.code===404" ng-click="newFolderButtonClick('md')" ng-disabled="isTrashFolder()">
          <i class="fa fa-plus fa-lg"></i> <span translate="storage-client.new-folder"></span>
        </button>
      </div>
    </div>
  </div>
  
  <div>
    <div class="row row-no-padding">
      <div class="col-lg-12">
        <div class="form-group search-bar left-inner-addon">
        	<i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search for a File or Folder" ng-model="query">
          <span class="input-group-btn">
          </span>
        </div>
      </div>
    </div>
  </div>
	
	<div class="bar-wrapper" id="files-toolbar" ng-controller="ButtonsController" ng-hide="fileListStatus.code === 404">
		<div class="bar">
			<div class="col-sm-6">
        <span ng-class="filesDetails.checkedItemsCount > 0 ? 'hidden-xs' : ''">
    			<span class="ellipsed current-folder current-folder-icon" ng-show="!isTrashFolder()"><i class="fa fa-folder fa-lg"></i> {{fileListStatus.folder}}</span>
    			<span class="ellipsed current-folder current-folder-icon" ng-show="isTrashFolder()"><i class="fa fa-folder fa-lg"></i> Trash/{{fileListStatus.folder | trashItemFilter}}</span>
        </span>
			</div>

			<div class="col-sm-6 text-right">
        <span ng-show="filesDetails.checkedItemsCount > 0">
          <span translate="storage-client.selected-items" translate-values="{ count: filesDetails.checkedItemsCount }"></span>
        </span>
        <button type="button" title="select" ng-if="storageModal && !storageFull" class="btn btn-success btn-lg hidden-xs" ng-click="selectButtonClick()" ng-disabled="filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1">
          <span translate="common.select"></span> <i class="fa fa-check fa-white icon-right"></i>
        </button>
				<button type="button" class="btn btn-lg" ng-click="downloadButtonClick()" ng-hide="isTrashFolder() || !(filesDetails.checkedCount > 0 && filesDetails.folderCheckedCount === 0 && filesDetails.localFiles === false)"><i class="fa fa-cloud-download fa-lg"></i></button>

        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#tagModal"><i class="fa fa-tag fa-lg"></i></button>

				<button type="button" class="btn btn-lg" ng-click="trashButtonClick()" ng-hide="isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-lg"></i></button>
        <button type="button" class="btn btn-lg" ng-click="restoreButtonClick()" ng-hide="!isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-lg"></i><i class="fa fa-share"></i></button>
				<button type="button" class="btn btn-lg" ng-click="deleteButtonClick()" ng-hide="!isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-lg"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-controller="UploadController">
  <div class="col-md-12">
    <div class="panel panel-info" ng-show="uploader.queue.length > 0">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title"><span translate="storage-client.upload-status"></span>: {{status.message}} <span class="pull-right"> <i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isCollapsed]"></i></span></h3>
      </div>
      <div class="panel-body" ng-show="!isCollapsed">
        <table class="table">
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td>{{item.file.name}}</td>
              <td nowrap>{{ item.file.size|fileSizeFilter }}</td>
              <td>
                <span style="float: right" class="inline-cancel" ng-show="item.isUploading" ng-click="item.remove()">
                  <i class="text-danger fa fa-times-circle-o cancel"></i>
                </span>
                <span class="text-danger" ng-show="!item.isUploading" ng-click="item.remove()">
                  <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
                </span>

                <div class="progress inline-progress" ng-show="item.isUploading">
                  <div class="progress-bar progress-bar-striped progress-bar-success active"
                    role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="uploadform">
      <input type="file" id="file" nv-file-select="" uploader="uploader" multiple />
    </form>
  </div>
</div>

<div ui-view></div>
<script type="text/ng-template" id="deleteModal.html">
    <form id="deleteForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
          <p>{{confirmationMessage}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
              <span translate="common.delete-forever"></span> <i class="fa fa-white fa-check icon-right"></i>
            </button>
            <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
              <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
            </button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="newFolderModal.html">
    <form>
        <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2 class="modal-title">{{'storage-client.new-folder' | translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="newFolderInput" type="text" class="form-control" ng-model="folderName" focus-me="{{shouldBeOpen}}" placeholder="Enter Folder Name">
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-fixed-width" ng-click="ok()">
              <span translate="common.save"></span> <i class="fa fa-white fa-check icon-right"></i>
            </button>
            <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
              <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
            </button>
        </div>
    </form>
</script>

<!-- Modal -->
<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="myModalLabel">Tags</h2>
      </div>
      <div class="modal-body" style="padding: 0 15px">


<div class="tag-settings">

    <h3>Lookup Tags</h3>
    <div class="active-tags">
        <div class="label label-tag">
            <span>brand:</span>levis <a href="#" class="remove-tag"><i class="fa fa-minus-circle"></i></a>
        </div>
        <div class="label label-tag">
            <span>brand:</span>gap <a href="#" class="remove-tag"><i class="fa fa-minus-circle"></i></a>
        </div>
    </div><!-- active-tags -->
    
    <button class="btn btn-link btn-add">
        <i class="fa fa-plus"></i> Add Tags
    </button>

    <div class="hidden-div">
    <div class="content-box">
        <div class="search-bar left-inner-addon">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search Tags" class="form-control">
        </div><!-- left-inner-addon -->

        <!-- Extra small button group -->
<div class="btn-group">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    Show All Tags <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li class="active"><a href="#">All</a></li>
    <li><a href="#">Brands</a></li>
    <li><a href="#">Regions</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Image</a></li>
  </ul>
</div>

        <div class="scrollable-content">
            <div class="label label-tag">
                <span>brand:</span>levis <a href="#" class="add-tag"><i class="fa fa-plus-circle"></i></a>
            </div>
            <div class="label label-tag">
                <span>brand:</span>levis <a href="#" class="add-tag"><i class="fa fa-plus-circle"></i></a>
            </div>     
        </div>        
    </div><!-- content-box -->
    <div class="button-wrapper text-right">
            <button class="btn btn-sm btn-primary">Save <i class="fa fa-check"></i></button>
            <button class="btn btn-sm btn-default btn-close">Cancel <i class="fa fa-times"></i></button>
        </div>
    </div><!-- hidden-div -->

    <h3>Freeform Tags</h3>
    <div class="active-tags">
        <div class="label label-tag">
            <span>caption:</span>lorem ipsum dolor sit <a href="#" class="remove-tag"><i class="fa fa-minus-circle"></i></a>
        </div>
    </div><!-- active-tags -->
    <button class="btn btn-link btn-add">
        <i class="fa fa-plus"></i> Add Property Code
    </button>
    <div class="hidden-div">
        <input type="text" class="form-control" placeholder="Enter Property Code">
        <div class="button-wrapper text-right">
            <button class="btn btn-sm btn-primary">Save <i class="fa fa-check"></i></button>
            <button class="btn btn-sm btn-default btn-close">Cancel <i class="fa fa-times"></i></button>
        </div>
    </div>

    <h3>Timeline Tags</h3>
    

    <button class="btn btn-link btn-add">
        <i class="fa fa-plus"></i> Add Timeline
    </button>
    <div class="hidden-div">

        <div class="active-tags">
        <div class="label label-tag">
            (Daily (Every 1 day(s))) <a href="#" class="remove-tag"><i class="fa fa-minus-circle"></i></a>
        </div>
    </div><!-- active-tags -->

        <div class="content-box">
            <section>
                <label class="control-label"><input class="toggle-div" type="checkbox" checked> Every Day</label>
                <div class="row row-no-padding hidden-form">
                    <div class="col-sm-6">
                        <label class="control-label">Start Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="DD-MMM-YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>    
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">End Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="DD-MMM-YYYY">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div> 
                    </div>
                    <div class="col-sm-12">
                    <label class="control-label bg-warning"><input type="checkbox"> Move file to Trash after End Date</label>
                    </div>
                </div><!-- row -->
            </section>
            <section>
                <label class="control-label"><input type="checkbox" class="toggle-div" checked> All Day</label>
                <div class="row row-no-padding hidden-form">
                    <div class="col-sm-6">
                        <label class="control-label">Start Time</label>
                        <div class="time-form">
                            <button class="btn btn-default">12 <i class="fa fa-sort"></i></button><span> :</span>
                            <button class="btn btn-default">00 <i class="fa fa-sort"></i></button>
                            <button class="btn btn-default">AM <i class="fa fa-sort"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">End Time</label>
                        <div class="time-form">
                            <button class="btn btn-default">12 <i class="fa fa-sort"></i></button><span> :</span>
                            <button class="btn btn-default">00 <i class="fa fa-sort"></i></button>
                            <button class="btn btn-default">PM <i class="fa fa-sort"></i></button>
                        </div> 
                    </div>
                </div><!-- row -->
            </section>
            <section>
                <label class="control-label"><input type="checkbox" class="toggle-div"> Duration</label>
                <div class="hidden-form">
                    <div class="form-group">
                    <label class="control-label"><input type="radio"> Play Until Done</label>
                    </div>

                    <div class="form-group form-inline">
                    <label class="control-label"><input type="radio"> Seconds</label>
                    
                    
                        <input type="text" class="form-control input-sm input-short" placeholder="00" disabled>
                   
                    <label class="control-label"><input type="checkbox"> Carry On</label>
                    </div>

                </div>
            </section>
            <section>
                <label class="control-label"><input type="checkbox" class="toggle-div"> Recurrence</label>
                <div class="hidden-form">

<div class="form-group" id="recurrence-options">
  <label>
    <input type="radio" name="options" id="option1" checked="checked"> Daily
  </label>
  <label>
    <input type="radio" name="options" id="option2"> Weekly
  </label>
  <label>
    <input type="radio" name="options" id="option3"> Monthly
  </label>
  <label>
    <input type="radio" name="options" id="option4"> Yearly
  </label>
</div>
 

<div id="form-option1" class="hidden-option">
    <div class="form-group form-inline">
        <label class="control-label">Every</label>
        <input type="text" class="form-control input-short input-sm" value="1">
        <label class="control-label">Day(s)</label>
    </div>    
</div>
<div id="form-option2" class="hidden-option">
    <div class="form-group form-inline">
        <label class="control-label">Every</label>
        <input type="text" class="form-control input-short input-sm" value="1">
        <label class="control-label">Week(s)</label>
    </div>
    <div class="form-group weekdays-group">
        <label class="control-label"><input type="checkbox"> Monday</label>
        <label class="control-label"><input type="checkbox"> Tuesday</label>
        <label class="control-label"><input type="checkbox"> Wednesday</label>
        <label class="control-label"><input type="checkbox"> Thursday</label>
        <label class="control-label"><input type="checkbox"> Friday</label>
        <label class="control-label"><input type="checkbox"> Saturday</label>
        <label class="control-label"><input type="checkbox"> Sunday</label>
    </div>   
</div>
<div id="form-option3" class="hidden-option">
    <div class="form-group form-inline">
        <label class="control-label"><input type="radio"> Day</label>
        <input type="text" class="form-control input-short input-sm" value="1">
        <label class="control-label">of Every</label>
        <input type="text" class="form-control input-short input-sm" value="1">
        <label class="control-label">Month(s)</label>
    </div>
    <div class="form-group form-inline">
        <label class="control-label"><input type="radio"> The</label>
        <button class="btn btn-default btn-sm">First <i class="fa fa-sort"></i></button>
        <button class="btn btn-default btn-sm">Sunday <i class="fa fa-sort"></i></button>
        <label class="control-label">of Every</label>
        <input type="text" class="form-control input-short input-sm" value="1">
        <label class="control-label">Month(s)</label>
    </div>   
</div>
<div id="form-option4" class="hidden-option">
    <div class="form-group form-inline">
        <label class="control-label"><input type="radio"> Every</label>
        <button class="btn btn-default btn-sm">January <i class="fa fa-sort"></i></button>
        <input type="text" class="form-control input-sm input-short" value="1">
    </div>
    <div class="form-group form-inline">
        <label class="control-label"><input type="radio"> The</label>
        <button class="btn btn-default btn-sm">First <i class="fa fa-sort"></i></button>
        <button class="btn btn-default btn-sm">Sunday <i class="fa fa-sort"></i></button>
        <label class="control-label">of</label>
        <button class="btn btn-default btn-sm">January <i class="fa fa-sort"></i></button>
    </div>    
</div>


                    
                </div>
            </section>
        </div>

        <div class="button-wrapper text-right">
            <button class="btn btn-sm btn-primary">Save <i class="fa fa-check"></i></button>
            <button class="btn btn-sm btn-default btn-close">Cancel <i class="fa fa-times"></i></button>
        </div>
        
    </div>

    
</div><!-- Content Inventory -->

<script type="text/javascript">

$(".remove-tag").click(function () {
    $(this).parent('div').fadeOut("fast");
});

$('.hidden-div').hide();
$('.hidden-form').hide();

$(".btn-add").click(function () {
    $(this).addClass('hidden');
    $(this).next('div').fadeIn("fast");;
});

$('.toggle-div').change(function(){
  var div = $(this).parent().next();
    if(div.is(":visible")) {
        div.hide();
    } else {
        div.fadeIn(450);
    };                   
});


$('#recurrence-options input[type="radio"]').on('change', function(e)
                                  {
                                      $('.hidden-option').hide();
                                      $('#form-' + $(this).attr('id')).toggle();
                                  });

// Initial state
$('input[type="radio"]:first').prop('checked', true);
$('#form-' + $('input[type="radio"]:checked').attr('id')).toggle();

</script>


      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
